@using Online_Art_Gallery.Models


@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Artwork artwork = ViewBag.Artwork;
    DateTime date = (DateTime)artwork.Year;
}

<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">Artwork</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Artwork")">Artwork</a></li>
            <li class="breadcrumb-item active"><a href="#">Update</a></li>
        </ol>
    </div>
    <div class="row">
        <!-- subscribe start -->
        <div class="col-lg-8 col-12 mx-auto">
            <div class="card">
                <div class="card-header card-header-form">
                    <h5>Artwork Update </h5>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Update", "Artwork")" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-12 d-none">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Name</label>
                                    <input name="id" type="text" class="form-control" id="Name" placeholder="" value="@artwork.Id">
                                    @if (TempData["name-validation"] != null)
                                    {
                                        <span class="required">@TempData["name-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Name</label>
                                    <input name="name" type="text" class="form-control" id="Name" placeholder="" value="@artwork.Name">
                                    @if (TempData["name-validation"] != null)
                                    {
                                        <span class="required">@TempData["name-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group fill">
                                    <label class="floating-label" for="Icon"> Image</label>
                                    <div class="img-detail">
                                        <img src="~/Content/Images/Artwork/@artwork.Picture" width="200px" height="200px" alt="Alternate Text" />
                                    </div>
                                    <input name="picture" type="file" class="form-control" value="@artwork.Picture">
                                </div>
                                @if (TempData["picture-validation"] != null)
                                {
                                    <span class="required">@TempData["picture-validation"]</span>
                                }
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Price</label>
                                    <input name="price" type="number" class="form-control" id="Price" placeholder="" value="@artwork.Price">
                                </div>
                                @if (TempData["price-validation"] != null)
                                {
                                    <span class="required">@TempData["price-validation"]</span>
                                }
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Sale Price</label>
                                    <input name="sale_price" type="number" class="form-control" id="Sale_Price" placeholder="" value="@artwork.Sale_Price">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Year</label>
                                    <input name="year" type="date" class="form-control" id="Year" placeholder="" data-val="true" value="">
                                    @if (TempData["year-validation"] != null)
                                    {
                                        <span class="required">@TempData["year-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Size">Size</label>
                                    <input name="size" type="text" class="form-control" id="Size" placeholder="" value="@artwork.Size">
                                    @if (TempData["size-validation"] != null)
                                    {
                                        <span class="required">@TempData["size-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Type">Type</label>
                                    <input name="type" type="text" class="form-control" id="Type" placeholder="" value="@artwork.Type">
                                    @if (TempData["type-validation"] != null)
                                    {
                                        <span class="required">@TempData["type-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="technique">Technique</label>
                                    <input name="technique" type="text" class="form-control" id="technique" placeholder="" value="@artwork.Technique">
                                    @if (TempData["technique-validation"] != null)
                                    {
                                        <span class="required">@TempData["technique-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label name="parent_Id" class="floating-label" for="Artist">Artist </label>
                                    <select name="id_artist" class="form-control" id="Artist">
                                        @foreach (var artist in ViewData["artists"] as List<Artist>)
                                        {
                                            if (artwork.Id_Artist == artist.Id)
                                            {
                                                <option value="@artist.Id">@artist.Name</option>
                                            }
                                            <option value="@artist.Id">@artist.Name</option>
                                        }
                                    </select>
                                    @if (TempData["id_artist-validation"] != null)
                                    {
                                        <span class="required">@TempData["id_artist-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label name="parent_Id" class="floating-label" for="Category">Category </label>
                                    <select name="id_category" class="form-control" id="Category">
                                        @foreach (var category in ViewData["categorys"] as List<Category>)
                                        {
                                            if (artwork.Id_Category == category.Id)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    @if (TempData["id_category-validation"] != null)
                                    {
                                        <span class="required">@TempData["id_category-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Descreption">Descreption</label>
                                    <textarea name="descreption" class="form-control" id="Descreption" rows="3">@artwork.Descreption</textarea>
                                    @if (TempData["descreption-validation"] != null)
                                    {
                                        <span class="required">@TempData["descreption-validation"]</span>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Status"> Status</label>
                                    @if (artwork.Status == true)
                                    {
                                        <select name="status" class="form-control" id="Status">
                                            <option value="true">Show</option>
                                            <option value="false">Hidden</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select name="status" class="form-control" id="Status">
                                            <option value="false">Hidden</option>
                                            <option value="true">Show</option>
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-primary">Submit</button>
                                <a href="@Url.Action("Index","Artwork")" class="btn btn-info">Return</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var day = @date.Day;
            var month = @date.Month;
            var year = @date.Year;

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#Year").attr("value", today);
        });
    </script>
}
