@using Online_Art_Gallery.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-0">Artist Home</h4>
    <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Artist")">Artist</a></li>
            <li class="breadcrumb-item active"><a href="">Home</a></li>
        </ol>
    </div>

    <div class="row">
        <!-- subscribe start -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Artist Home</h5>
                </div>
                <div class="card-body">
                    <div class="row align-items-center m-l-0">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="@Url.Action("Create","Artist")" class="btn btn-success btn-sm mb-3 btn-round"><i class="feather icon-plus"></i> Add New</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="report-table" class="table table-bordered table-striped mb-0" style="text-align: center">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var artist in ViewData["artists"] as List<Artist>)
                                {
                                    <tr>
                                        <td>@artist.Id</td>
                                        <td><img src="~/Content/Images/Artist/@artist.Picture" class="img-radius" width="30px" height="30px"></td>
                                        <td>@artist.Name</td>
                                        @if (@artist.Status == true)
                                        {
                                            <td>Show</td>
                                        }
                                        else
                                        {
                                            <td>Hidden</td>
                                        }
                                            <td>
                                                <a href="@Url.Action("Update","Artist", new { id = @artist.Id })" class="btn btn-info btn-sm"><i class="feather icon-edit"></i> Edit</a>
                                                <a href="@Url.Action("Delete","Artist", new { id = @artist.Id })" onclick="return del(this)" class="btn btn-danger btn-sm"><i class="feather icon-trash-2"></i> Delete</a>
                                                <a href="@Url.Action("Detail","Artist", new { id = @artist.Id })" class="btn btn-info btn-sm"><i class="feather icon-eye"></i> View</a>
                                            </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    </div>
</div>
<!-- [ content ] End -->

