@using Online_Art_Gallery.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User user = ViewBag.User;

    var CartDetails = (List<Cart>)ViewData["carts"];

    var Artworks = (List<Artwork>)ViewData["artworks"];
    var PaymentMethods = (List<PaymentMethod>)ViewData["paymentmethods"];

    float SubTotal = 0, SaleTotal = 0, Total = 0;

    int id_col = 0;
}
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section page-banner-aboutus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1>Check Out</h1>
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active">Check Out page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION START -->
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-80">
    <div class="container">
        <div class="title-eltdf pb-100">
            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">History of art department</p>
            <div class="eltdf-st-title">
                <span class="eltdf-st-title-inner">
                    <span class="eltdf-st-side-line-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                    <h1 class="wow fadeInUp " data-wow-duration="1s" data-wow-delay="1s">
                        Check Out
                    </h1>
                    <span class="eltdf-st-side-line-right wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.5s"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="checkout-form">
                    <form action="@Url.Action("Index","Checkout")" method="post">
                        <div class="row">

                            <div class="col-lg-6 mb-40">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-xs-12 mb-30">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <input id="name" name="name" type="text" value="@user.Name" disabled />
                                    </div>
                                    <div class=" col-xs-12 mb-30">
                                        <label for="email">Email Address <span class="required">*</span></label>
                                        <input id="email" name="email" type="email" value="@user.Email" disabled />
                                    </div>
                                    <div class=" col-xs-12 mb-30">
                                        <label for="b_phone">Phone  <span class="required">*</span></label>
                                        <input id="phone" name="phone" type="text" placeholder="Phone Number" value="@user.Phone" disabled />
                                    </div>
                                    <div class="col-xs-12 mb-30">
                                        <label>Address <span class="required">*</span> </label>
                                        <input name="address" type="text" placeholder="Street address" value="@user.Address" disabled />
                                    </div>
                                </div>
                                <h3>
                                    <input id="ship_form" type="checkbox" data-target="shipping_form" />
                                    <label for="ship_form">Ship to a different address?</label>
                                </h3>
                                <div class="collapse row" data-collapse="shipping_form">
                                    <div class="col-xs-12 mb-30">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" name="different_address" placeholder="Street address" />
                                    </div>
                                </div>
                                <div class="order-notes">
                                    <label for="order_note">Order Notes</label>
                                    <textarea id="order_note" name="descreption" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 mb-40">
                                <div class="order-wrapper">
                                    <h3>Your order</h3>
                                    <div class="order-table table-responsive mb-30">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product-sale">Sale Price</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var cart in CartDetails)
                                                {
                                                    foreach (var artwork in Artworks)
                                                    {
                                                        if (cart.Id_Artwork == artwork.Id)
                                                        {
                                                            <tr>
                                                                <td class="product-name">
                                                                    @artwork.Name<strong class="product-qty"> × 1</strong>
                                                                </td>
                                                                <td class="product-price">
                                                                    <span class="amount">$ @artwork.Price.00</span>
                                                                </td>
                                                                @if (artwork.Sale_Price != 0)
                                                                {
                                                                    <td class="product-sale">
                                                                        <span class="amount">$ @artwork.Sale_Price.00</span>
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span class="amount">$ @artwork.Sale_Price.00</span>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td class="product-sale">
                                                                        <span class="amount">$ 0.00</span>
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span class="amount">$ @artwork.Price.00</span>
                                                                    </td>
                                                                }
                                                            </tr>
                                                            //Total
                                                            SubTotal += float.Parse(artwork.Price.ToString());
                                                            if (artwork.Sale_Price != 0)
                                                            {
                                                                var sale = artwork.Price - artwork.Sale_Price;
                                                                SaleTotal += float.Parse(sale.ToString());
                                                            }
                                                            Total = SubTotal - SaleTotal;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Cart SubTotal</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td>$ @SubTotal.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Cart SaleTotal</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td>$ @SaleTotal.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Order Total</th>
                                                    <td></td>
                                                    <td>
                                                        <input class="d-none" type="text" name="order_price" value="@Total" />
                                                    </td>
                                                    <td>
                                                        <strong>$ @Total.00</strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="payment-method">
                                        <div class="panel-group" id="accordion">
                                            @foreach (var pm in PaymentMethods)
                                            {
                                                id_col++;

                                                <div class="panel panel-default ">
                                                    <div class="panel-heading" id="heading-@id_col">
                                                        <h4 class="panel-title">
                                                            <input type="radio" name="id_payment" value="@pm.Id" />
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@id_col">
                                                                @pm.Name
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse-@id_col" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <p>@pm.Descreption</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (TempData["id_payment-validation"] != null)
                                            {
                                                <span class="required">@TempData["id_payment-validation"]</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="order-button mt-30">
                                        <input type="submit" value="Place order" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
